In [7]:
import torch
import torchtext
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('data/trump_insult_tweets_2014_to_2021.csv')

In [9]:
df.head()

,id,date,tweet,insult_1,target_1,insult_2,target_2,insult_3,target_3,insult_4,target_4,insult_5,target_5,insult_6,target_6
0,1,2014-10-09,"Can you believe this fool, Dr. Thomas Frieden ...",fool,thomas-frieden,DOPE,thomas-frieden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2015-06-16,Big time in U.S. today - MAKE AMERICA GREAT AG...,all talk and no action,politicians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2015-06-24,"@Neilyoung's song, ""Rockin' In The Free World...",didn't love it,rockin-in-the-free-world,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2015-06-24,"For the nonbeliever, here is a photo of @Neily...",total hypocrite,neil-young,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-06-24,Politician @SenatorCardin didn't like that I s...,It's politicians like Cardin that have destroy...,ben-cardin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# drop date, don't need for NLP
# df = df.drop(column=['date'])

In [10]:
df.isnull().sum(axis = 0)

id             0
date           0
tweet          0
insult_1       0
target_1       2
insult_2    2957
target_2    2957
insult_3    4514
target_3    4514
insult_4    5192
target_4    5193
insult_5    5493
target_5    5493
insult_6    5593
target_6    5593
dtype: int64

In [ ]:
# drop insult_3 and beyond, drop null rows